{:paths ["src"]
 :deps  {com.taoensso/encore {:mvn/version "3.1.0"}
         cheshire            {:mvn/version "5.10.0"}
         funcool/cuerdas     {:mvn/version "2020.03.26-3"}
         hiccup              {:mvn/version "1.0.5"}}}
